doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='public/javascript/require.js',data-main='public/javascript')
    script(type='text/javascript')
	
  body
    block content